@use '@/shared/styles/mixins';

.layout {
  display: flex;
  flex-direction: row;
  max-width: 2000px;
  min-height: calc(100vh - 66px);
  margin: auto;
  position: relative;
}

.columnBlock{
  min-width: 286px;
  min-height: 286px;
  background-color: #aaa;
}

@include mixins.breakpoint(md, max) {
  .layout {
    flex-wrap: wrap;
  }
}

@include mixins.breakpoint(xxl, max) {
  .layout {
    width: 100%;
  }

  .sidebar {
    position: absolute;
    left: 0;
    height: 100%;
    background-color: var(--background-color);
    transform: translateX(-100%);
    transition: transform ease-out 0.2s;
  }

  .sidebarOpen {
    @extend .sidebar;
    transform: translateX(0);
    z-index: 3;
  }

  .dark {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.35;
    z-index: 2;
    // transition: opacity linear 0.2s;
  }

  .transparent {
    @extend .dark;
    opacity: 0;
    z-index: -1;
  }
}
