@use '@/shared/styles/mixins';

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 34px;
  height: 34px;
  padding: 7px 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 5;

  &:focus {
    outline: none;
  }

  div {
    width: 25px;
    height: 2px;
    background: #fafafa;
    border-radius: 5px;
    transition: all 0.2s linear;
    position: relative;
    transform-origin: 3px;
  }

  @include mixins.breakpoint(xxl, min) {
    &.burger {
      display: none;
    }
  }

  @include mixins.breakpoint(xxl, max) {
    &.burger {
      position: static;
    }
  }
}

.burgerOpen {
  @extend .burger;

  :first-child {
    transform: rotate(45deg);
  }
  :nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
  }
  :nth-child(3) {
    transform: rotate(-45deg);
  }
}
