@use './normalize';

:root {
  // Light theme
  --background-color: #fafafa;
  --text-color: #686868;
  --header-bar-color: #337ca0;
  --topic-text-color: #1e1e24;
  --heading-color: #64afd3;

  // GLOBAL STYLES
  line-height: 1.17rem;
  background-color: var(--background-color);

  // Dark theme [TBD]
}
