@use '@/shared/styles/mixins';

.container {
  margin: 80px 45px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@include mixins.breakpoint(lg, max) {
  .container {
    margin-left: 20px;
  }
}

@include mixins.breakpoint(md, max) {
  .container {
    flex-direction: row;
    margin: 0 auto 63px auto;
  }
}
