@use '@/shared/styles/mixins';

.container {
  color: var(--category-text-color);

  h1 {
    font-size: 2rem;
    white-space: nowrap;
    margin: 18px 0;
  }

  .description {
    font-size: 1rem;
    margin-top: 8px;
  }

  .line {
    height: 0.5px;
    background-color: #000;
    margin-bottom: 10px;
  }
}
