@use '@/shared/styles/mixins';

.sidebarSection h3 {
  margin: 17px 0 0 0;
  font-size: 1rem;
}

.sidebarSection a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  padding: 5px 15px;
  &:hover {
    color: var(--heading-color);
  }
}

.line {
  height: 0.5px;
  background-color: #aaa;
  margin-bottom: 10px;
}

@include mixins.breakpoint(md, max) {
  .sidebarSection {
    padding: 0 15px;
  }

  .sidebarSection h3 {
    font-size: 1.3rem;
  }

  .sidebarSection a {
    line-height: 1.25;
    font-size: 1.3rem;
    padding: 4px 10px;
  }
}
